body{
    background-color: #729652;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    
}
/* Header style start */
.hero_image{
    border-right: none;
    border-left: none;
    background-image: url("../images/hero_image.PNG");
    background-size: 100%;
    margin: -8px;
    height: 500px;
}
.hero_text{
    color: red;


}
/* Header Style end */

/* navigation bar style start */
.navigation_bar{
    background-color: #729652;
    width: 105%;
    padding: 0.8%;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}