body{
    background-color: #085e0a;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}
footer{
    background-color: #000000;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    text-align: center;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0; 
}
.title{
    margin: 1rem;
    font-size: 3rem;
    text-align: center;
}
.colors{
    color: #FFFFFF;
    color: #ff3131;
    color: #ff6c6c;
    color: #729652;
    color: #338800;
    /* #286907 */
    color: #085e0a;
    color: #000000;
}
.sub_heading{
    text-align: center;
}

/* Navigation bar style start */
.navigation_bar {
    background-color: #338800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin-left: 0;
    border-bottom: 5px solid white;
    height: 60px;
} 
.navigation_links a {
    margin-right: 5px;
    padding: 20px 20px;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
}
.navigation_links a:hover{
    background-color: #286907;
}

.signlog a {
    margin-right: 0px;
    margin-left: 9px;
    background-color: #ff3131;
    color:#FFFFFF;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
}
.signlog a:hover {
    background-color: #ffffff;
    color: #000000;
}
.signlog, .settings_button {
    display: inline-block;
    vertical-align: middle;
}
.settings_button img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 4px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 9px;
}
.settings_button img:hover {
    background-color: #ff3131;
}
/* Navigation bar style end */

/* Hero Image style start */
.hero_image{
    background-image: url("../images/hero_image.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 36rem;
    background-position: center;
    border-bottom: 5px solid white;
    text-align: center;
}
.hero_title{
    margin: 0;
    font-size: 6rem;
    color: #ff3131;
    padding-top: 10%;
}
.hero_text{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
}

.signup_hero_button a{
    font-weight: bold;
    background-color: #ff3131;
    padding: 1rem 2rem;
    border: 3px solid white;
    border-radius: 50px;
    color: #FFFFFF;
    text-decoration: none;
}
/* Hero Image Style end */

/* Home page Style start */

/* Home page Style end */

/* Dashboard Style start */

/* Dashboard Style end */

/* Player Stats Page Style start */
.player_stats_title{
    text-align: center;
}
.player_stats_table th,
.player_stats_table td {
    border: 1px solid black;
}
.player_stats_table {
    border-collapse: separate;
}
/* Player Stats Page Style end */