body{
    background-color: #085e0a;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
.space{
    height: 20px;
}
.flashes{
    text-align: center;
    font-style: italic;
    color: #ff3131;
    font-weight: bold;
    margin: 10px 0;
}
footer{
    background-color: #000000;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    text-align: center;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0; 
}
.title{
    margin: 1rem;
    font-size: 3rem;
    text-align: center;
    color: white;
}
.colors{
    color: #FFFFFF;
    color: #ff3131;
    color: #338800;
    /* #286907 */
    color: #085e0a;
    color: #000000;
}
.sub_heading{
    text-align: center;
    color: #FFFFFF;
}

/* Navigation bar style start */
.navigation_bar{
    background-color: #338800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin-left: 0;
    border-bottom: 5px solid white;
    height: 60px;
} 
.navigation_links a{
    margin-right: 5px;
    padding: 20px 20px;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
}
.navigation_links a:hover{
    background-color: #286907;
}
.signlog a {
    margin-right: 0px;
    margin-left: 9px;
    background-color: #ff3131;
    color:#FFFFFF;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
}
.signlog a:hover {
    background-color: #ffffff;
    color: #000000;
}
.signlog, .settings_button {
    display: inline-block;
    vertical-align: middle;
}
.settings_button img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 4px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 9px;
}
/* Navigation bar style end */
/* Login and Signup Page style start */
.login_signup_form{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
}
.login_signup_title{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    width: 250px;
}
.username_and_password_bar{
    display: flex;
    justify-content: center;
    margin-left: -2%;
    align-items: center;
    width: 420px;
}
.username_and_password_bar input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ff3131;
    font-size: 1.2rem;
    color: #000000;
}
.login_signup_submit_button{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
}
.login_signup_submit_button input{
    background-color: #ff3131;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
.login_signup_submit_button input:hover{
    background-color: #ffffff;
    color: #000000;
}
.login_signup_subtitle{
    width: 250px;
    color: #ff3131;
    font-size: 1rem;
    text-align: left;
    margin-top: 5px;
}
/* Login and Signup Page style end */
/* Hero Image style start */
.hero_image{
    background-image: url("../images/hero_image.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 36rem;
    background-position: center;
    border-bottom: 5px solid white;
    text-align: center;
}
.hero_title{
    margin: 0;
    font-size: 6rem;
    color: #ff3131;
    padding-top: 10%;
}
.hero_text{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
}

.signup_hero_button a{
    font-weight: bold;
    background-color: #ff3131;
    padding: 1rem 2rem;
    border: 3px solid white;
    border-radius: 50px;
    color: #FFFFFF;
    text-decoration: none;
}
.signup_hero_button a:hover{
    border-color: #ff3131;
    background-color: #ffffff;
    color: #000000;
}
/* Hero Image Style end */

/* Home page Style start */
.home_row{
    color: #FFFFFF;
    border-bottom: 5px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    padding: 2.5% 10%;
}

/* Home page Style end */

/* Player Stats and Dashboard Page Style start */
.stats_search_form{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
}
.stats_search_bar{
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    width: 100%;
    margin-left: -5%;
}
.stats_search_bar input{
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #ff3131;
    font-size: 1.2rem;
    color: #000000;
}
.stats_submit_button{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
}
.stats_submit_button input{
    background-color: #ff3131;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
.stats_submit_button input:hover{
    background-color: #ffffff;
    color: #000000;
}
.player_stats_table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 100px;
}
.player_stats_table th{
    border: 3px solid white;
    text-align: left;
    padding: 2%;
    background-color: #338800;
    width: 35%;
}
.player_stats_table td{
    border: 3px solid white;
    padding: 2%;
}
.awards_table{
    width: 100%;
    height: fit-content;
    text-align: center;
    color: #FFFFFF;
}
.awards_table_title{
    background-color: #338800;
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 2%;
}
.awards_table th{
    border: 3px solid white;
    height: 50px;
    width: 25%;
    text-align: left;
    padding: 2%;
}
.awards_table td{
    border: 3px solid white;
}
.award_img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    display: block;
    margin: 10px auto;
}
.award_img_box {
    text-align: center;
    width: 25%;
}
.stats{
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10%;
    gap: 10%;
    margin-top: 35px;
}
.dashboard_play_button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}
.dashboard_play_button a {
    font-weight: bold;
    background-color: #ff3131;
    padding: 1rem 5.5rem;
    border: 3px solid white;
    border-radius: 50px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
}

.dashboard_play_button a:hover {
    border-color: #ff3131;
    background-color: #ffffff;
    color: #000000;
}
.dashboard_play_button span {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0;
}
/* Player Stats and Dashboard Page Style end */
/* Error Page Style start */
.error_page_background {
    background-image: url("../images/error_background.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 44rem;
    background-position: center;
    color: white;
    text-align: center;
    font-size: 6rem;
}
.error_page_title {
    margin: 0;
    padding-top: 4%;
    font-size: 6rem;
}
.error_page_subtitle {
    font-size: 2rem;
    color: #ff3131;
}
.error_page_link{
    font-size: 1rem;
}
.error_page_link a {
    color: #FFFFFF
}
.error_page_link a:hover {
    color: #ff3131;
}
/* Error Page Style end */