{% extends "layout.html" %}
{% block content %}
<h1 class="title">
    About this site
</h1>

<div class="about">
  <p>
    This site is created by Alex Yao. On this site you can play blackjack using our very own 
    blackjack engine. Statistics are collected upon every action so players can analyse their descisions
    and imporve their skills. Our site offers awards for hitting milestones and a rewarding experience for our players.
    <br><br>
    If you wish to contact me, you can contant me through my email
    <br>
    Email: 22177@burnside.school.nz
  </p>
</div>

<div class="how_to_play">
    <h1 class="title">
      How to play
    </h1>
    <div class="how_to_play_video">
      <iframe width="724.5" height="407.25" src="https://www.youtube.com/embed/eyoh-Ku9TCI" title="How to Play Blackjack" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    
</div>

<!-- Flash messages start -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<!-- Flash messages end -->
{% endblock %}