{% extends "layout.html" %}
{% block content %}

<h1 class="title">
    Enter your bet size
</h1>

<form method="post" action="/bet">
    <table class="login_signup_form">
        <tr>
            <td>Please enter your bet size</td>
        </tr>
        <tr>
            <td>You have ${{money}}</td>
        </tr>
        <tr>
            <td>Minumum bet is $10</td>
        </tr>
        <tr>           
            <td>
                <input type="number" name="bet" required>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Bet"></td>
        </tr>
    </table>
</form>
<!-- Flashes -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<!-- Flashes end -->

{% endblock %}