{% extends "layout.html" %}
{% block content %}
<div class="betting_section">
    <h1 class="title">
        Enter your bet size
    </h1>
    <form method="post" action="/bet">
        <div class="betting_form">
            <div class="betting_money">
                <div>You have: ${{money}}</td>
            </div>
            <div class="betting_min_bet">
                <div>Minumum bet is $10</td>
            </div>
                <div class="betting_bar">
                    <input type="number" name="bet" required>
                </div>
            <div class="bet_submit_button">
                <td><input type="submit" value="Bet"></td>
            </div>
        </div>
    </div>
</div>

<div>
  <a class="bet_page_how_to" href="/about">Don't know how to play? Click here</a>
</div>
<!-- Flash messages start -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<!-- Flash messages end -->

{% endblock %}