{% extends "layout.html" %}
{% block content %}

<div class="hero_image">
    <h1 class="hero_title">
            Wanna Up your Blackjack?
    </h1>
    <p class="hero_text">
        Hone your Blackjack Skills today!
    </p>
    <div class="signup_hero_button">
        <p >
            <a href="signup">Signup</a>
        </p>
    </div>
</div>

<div class="home_text">
    <div>
        <h2>Info</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus perspiciatis explicabo autem ratione in soluta magni porro aperiam commodi magnam. Error qui nam laborum aliquid reprehenderit accusantium ipsum architecto non.</p>
    </div>
    <div>
        <h2>Info</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum explicabo corrupti velit voluptate, quia corporis nisi ad amet id dignissimos quaerat autem molestias, cupiditate laborum pariatur labore vitae ratione!</p>
    </div>
    <div>
        <h2>Info</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quibusdam omnis quae eveniet delectus odit, doloribus iste totam consequuntur. Enim, fugit. Nulla accusantium minus ipsam tenetur, similique ut iure possimus.</p>
    </div>
</div>
{% endblock %}