{% extends "layout.html" %}
{% block content %}

<div class="hero_image">
    <h1 class="hero_title">
            Wanna Up your Blackjack?
    </h1>
    <p class="hero_text">
        Hone your Blackjack Skills today!
    </p>
    <div class="signup_hero_button">
            <a href="signup">Signup</a>
    </div>
</div>

<div class="home_row" style="background-color: #085e08;;">
    <div>
        <h2 class="home_title">A Robust Blackjack Engine</h2>
        <p class="home_text">
            Make use of a robust Blackjack engine capable of quick calculations. 
            Play along side a live count of you hands score. Our blackjack engine supports bets
            of a variety of sizes. Sleek card graphics provide an enjoyable blackjack experience while you
            improve your skills.

        </p>
    </div>
    <div>
        <img class="home_image" src="../static/images/home_image_1.jpg" alt="Blackjack Home Image">
    </div>
</div>

<div class="home_row" style="background-color: #338800">
    
    <div>
        <img class="home_image" src="../static/images/home_image_1.jpg" alt="Blackjack Home Image" >
    </div>
    <div>
        <h2 class="home_title">Personalised Statistics</h2>
        <p class="home_text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vi
            tae repellat sint, culpa nemo fugit molestiae facilis sapiente nisi quibusdam seq
            ui pariatur. Totam dolorum voluptate maxime officia, reiciendis quam eum neque.
            lorem
        </p>
    </div>
</div>

<div class="home_row" style="background-color: #085e08;">
    <div >
        <h2 class="home_title">Improve your game</h2>
        <p class="home_text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vi
            tae repellat sint, culpa nemo fugit molestiae facilis sapiente nisi quibusdam seq
            ui pariatur. Totam dolorum voluptate maxime officia, reiciendis quam eum neque.
        </p>
    </div>
    <div>
        <img class="home_image" src="../static/images/home_image_1.jpg" alt="Blackjack Home Image">
    </div>
</div>
{% endblock %}
