{% extends "layout.html" %}
{% block content %}

<div class="hero_image">
    <h1 class="hero_title">
            Wanna Up your Blackjack?
    </h1>
    <p class="hero_text">
        Hone your Blackjack Skills today!
    </p>
    <div class="signup_hero_button">
            <a href="signup">Signup</a>
    </div>
</div>

<div class="home_row" style="background-color: #085e08;;">
    <div>
        <h2 class="home_title">A Robust Blackjack Engine</h2>
        <p class="home_text">
            Make use of a robust Blackjack engine capable of quick calculations, 
            ensuring seamless gameplay even during the most intense hands. 
            As you play, you can track your progress in real time with a live count of your hand's score, 
            making it easier to strategize and make smarter decisions. Our engine also supports bets of various sizes, 
            giving you flexibility to play according to your comfort level or take on bigger challenges. 
            Our site has a clean, aesthetic environment, 
            making each round of blackjack not only more immersive but also more enjoyable. Whether you're a beginner or a seasoned pro, 
            this powerful tool is designed to elevate your gameplay experience while helping you sharpen your skills with every hand.

        </p>
    </div>
    <div>
        <img class="home_image" src="../static/images/home_image_1.jpg" alt="Blackjack Home Image">
    </div>
</div>

<div class="home_row" style="background-color: #338800">
    
    <div>
        <img class="home_image" src="../static/images/home_image_2.png" alt="Blackjack Home Image" >
    </div>
    <div>
        <h2 class="home_title">Personalised Statistics</h2>
        <p class="home_text">
            Our site offers comprehensive statistics designed to enhance your blackjack game. 
            By tracking key metrics such as your net profit, win rates, and money loss ratios, 
            you can gain valuable insights into your playing style and performance. With these detailed stats, 
            you'll be able to identify areas for improvement and make more informed decisions during each session. 
            The more you analyze and learn from your stats, the better you'll understand your strengths and weaknesses, 
            ultimately helping you refine your strategy and elevate your blackjack skills over time.
        </p>
    </div>
</div>

<div class="home_row" style="background-color: #085e08;">
    <div >
        <h2 class="home_title">Earn medals and awards</h2>
        <p class="home_text">
            Earn medals for your achievements as you play using our robust blackjack engine, 
            rewarding you for your dedication and progress. 
            You can earn awards by playing your hardest and achieving milestones in key statistics, 
            such as reaching higher levels in our leveling system, 
            or hitting specific money margin. 
            As you advance, each medal becomes a testament to your skill growth and perseverance, 
            providing a sense of accomplishment with every milestone you reach. 
            This keeps our game engaging and motivating you to push your skils further.
        </p>
    </div>
    <div>
        <img class="home_image" src="../static/images/home_image_3.png" alt="Blackjack Home Image">
    </div>
</div>

<!-- Flash messages start -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<!-- Flash messages end -->
{% endblock %}
