{% extends "layout.html" %}
{% block content %}
<h1 class="title">
    Login
</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<p>test</p>
<form method="get" action="/login">
    <table>
        <tr>
            <td>Login here</td>
        </tr>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" maxlength="15" required></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" minlength="6"  maxlength="20" required></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>
<hr>

{% endblock %}