{% extends "layout.html" %}
{% block content %}
<h1 class="title">
    Login
</h1>


<div class="login_signup_form">
    <form method="post" action="/login">
        <div>
            <div>
                <div class="login_signup_title">Username</div>
            </div>
            <div class="username_and_password_bar">
                <div><input type="text" name="username" style="margin-left: -5%;" required></div>
            </div>
            <div class="space"><div></div></div>
            <div>
                <div class="login_signup_title">Password</div>
            </div>
            <div class="username_and_password_bar">
                <div>
                    <input type="password" name="password" style="margin-left: -5%;" required>
                </div>
            </div>
            <div class="login_signup_submit_button">
                <div>
                    <input type="submit" value="Login">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="login_signup_redirect">
    <a href="/signup">Don't have an account? Click here to signup</a>
</div>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
{% endblock %}