{% extends "layout.html" %}
{% block content %}
<h1 class="title">
    Login
</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="login_signup_form">
    <form method="post" action="/login">
        <table>
            <tr>
                <td class="login_signup_title">Username</td>
            </tr>
            <tr class="username_and_password_bar">
                <td><input type="text" name="username" required></td>
            </tr>
            <tr class="space"><td></td></tr>
            <tr>
                <td class="login_signup_title">Password</td>
            </tr>
            <tr class="username_and_password_bar">
                <td>
                    <input type="password" name="password" required>
                </td>
            </tr>
            <tr class="login_signup_submit_button">
                <td>
                    <input type="submit" value="Login">
                </td>
            </tr>
        </table>
    </form>
</div>


{% endblock %}