{% extends "layout.html" %}
{% block content %}
<h1 class="title">
    Play Blackjack
</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
  
    <div class=flashes>
      <ul>
      {% for message in messages %}
        <li>
        {{ message }}
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

<div class="dealers_cards">
    {{dealers_hand}}

</div>

<div class="players_cards">
    {{player_hand}}
    <br>
    {{player_hand_values}}
</div>

<table class="blackjack">
  <tr class="dealers_hand">
    <td class="cards"></td>
  </tr>
  <tr class="players_hand">

      {% for card in player_hand %}
        <td class="cards">
          <img class="award_img" src="{{ url_for('static', filename='images/cards/' ~ card ~ '.png') }}" alt="{{card}}">
        </td>
      {% endfor %}

  </tr>
</table>


  <div class="action_buttons">
{% if active_hand %}

      <a href="/hit">Hit</a>
      <a href="/stand">Stand</a>
      <a href="/double_down">Double Down</a>
 
{% else %}
  <a href="/play">Exit</a>
{% endif %}
</div>


<hr>
{% endblock %}