{% extends "layout.html" %}
{% block content %}
<h1 class="title">
    Play Blackjack
</h1>


<div class="blackjack_table">
  <table class="hands">

    <tr class="dealers_hand">
      <tr class="hand_headings">
        <td>Dealers Hand</td>
      </tr>
          <td class="cards">
            {% for card in dealers_hand %}
            <img class="card" src="{{ url_for('static', filename='images/cards/' ~ card ~ '.png') }}" alt="{{card}}">
            {% endfor %}
          </td>
    </tr>
  </table>

  <table>
    <tr class="hand_headings">
      <td>Your hand ({{player_hand_values}})</td>
    </tr>
    <tr class="players_hand">
          <td class="cards">
            {% for card in player_hand %}
            <img class="card" src="{{ url_for('static', filename='images/cards/' ~ card ~ '.png') }}" alt="{{card}}">
            {% endfor %}
          </td>
    </tr>
  </table>
</div>
<!-- Flash messages start -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<!-- Flash messages end -->

<div class="action_buttons">
{% if active_hand %}

      <a href="/hit">Hit</a>
      <a href="/stand">Stand</a>
 
{% else %}
  <a href="/play">Play Again</a>
  <a href="/home">Home</a>
{% endif %}
</div>

{% endblock %}