{% extends "layout.html" %}
{% block content %}
<h1 class="title">
    Sign up
</h1>


<form method="post" action="/signup">
    <div class="login_signup_form">
        <div>
            <div class="login_signup_title">Username</div>
        </div>

        <div>    
            <div class="username_and_password_bar">
                <input type="text" name="username" minlength="5" maxlength="15" placeholder="5-15 characters with no special characters" required>
            </div>
        </div>
        <div class="space"><div></div></div>
        <div>
            <div class="login_signup_title">Password</td>
        </div>
        
            <div class="username_and_password_bar">
                <input type="password" name="password" minlength="6"  maxlength="15" placeholder="6~15 characters and contain a number"  required>
            </div>
        </div>
        <div class="login_signup_submit_button">
            <div>
                <input type="submit" value="Sign up">
            </div>
        </div>
    </div>
</form>
<div class="login_signup_redirect">
    <a href="/login">Already have an account? Click here to login</a>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% endblock %}
