{% extends "layout.html" %}
{% block content %}
<h1 class="title">
    Sign up
</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes st>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<p>test</p>
<form method="post" action="/signup">
    <table>
        <tr>
            <td>Sign Up here</td>
        </tr>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" minlength="5" maxlength="15" required></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" minlength="6"  maxlength="15" required></td>
        </tr>
        <tr>
            <td><input type="submit" value="Sign up"></td>
        </tr>
    </table>
</form>
<hr>

{% endblock %}
