{% extends "layout.html" %}
{% block content %}
<h1 class="title player_stats_title">
    Search Stats
</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="post">
  <table>
      <tr>
          <td>Search a Player ID here</td>
      </tr>
      <tr>
          <td>ID</td>
      </tr>
      <tr>
        <td><input type="text" name="searched_id" maxlength="15" required></td>
      </tr>
      <tr>
          <td><input type="submit" value="Search"></td>
      </tr>
  </table>
</form>
<hr>
{{searched_id}}

{{logged_in}}
{% endblock %}